Werkzeug==2.3.7
Flask==2.3.3
mysql-connector-python==8.1.0
flask-restx==1.2.0
flasgger==0.9.7.1
Flask-Testing==0.8.1
altgraph==0.17.2
coverage==7.5.1
exceptiongroup==1.2.1
future==0.18.2
iniconfig==2.0.0
macholib==1.15.2
packaging==24.0
pip==24.0
pluggy==1.5.0
pytest==8.2.1
setuptools==58.0.4
six==1.15.0
tomli==2.0.1
wheel==0.37.0
